body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  /* border: 5px solid orange; */
  /* width: 75vw; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  font-size: 3vh;
}

.skillIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: white;
}

.skillImg {
  height: fit-content;
  width: 15vw;
  padding-top: 5px;
}

img {
  width: 80%;
  height: auto;
}


.proj{
background-color: white;
/* color: black; */
}

.iconText {
  /* border: 4px solid blue; */
  font-size: 2vw;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: black;
}

.aboutDiv {
  /* border: red 1px solid; */
  width: 75%;
  margin: 0 auto;
}

hr {
  height: 5px;
  border: #0d6efd 5px solid;
}

section:nth-child(even) {
  background: #fff;
  color: #323232;
}
section:nth-child(odd) {
  background: #000;
  color: #efefef;
}

/* border: 4px solid blue; */
/* .projImg {
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: gray;
  font-size: 4vw;
  width: 50%;
} */

a {
  text-decoration: none;
  color: white;
}

.bg {
  height: 5px;
  width: 100%;
  /* border: 5px solid red; */
}

.btn.border-underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in;
  transform: scaleX(0);
}

.btn.border-underline:hover::before,
.btn.border-underline:focus::before {
  transform: scaleX(1);
}

.btn {
  margin: 1rem;
  color: black;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: lightgrey;
  --border-size: 3px;
  --accent-color: #0d6efd;
}

h2,h4{
  color: black;
}
